@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');

.angel-poem-main {
    width: 100%;
    aspect-ratio: 393/598;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.angel-poem-main-overlap-group {
    background-image: url('../assets/images/wedding-info/angel_photo.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.angel-poem-main-photo-group {
    background-image: url('../assets/images/background.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.angel-poem-main .image-title {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
}

.poem-area {
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 1.7;
    padding-top: 20px;
  }

.all-forever {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-family: "Playfair Display";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
}

.all-forever .sub-title {
    font-family: 'Pinyon Script';
    color: #fff;
    margin: 0 8px;
  }
