.common-dropdown-wrapper {
  margin-bottom: 20px;
  border-radius: 4px;
  font-family: 'Gowun Dodum', sans-serif;
}

.common-dropdown-label {
  background-color: #eae4d9;
  padding: 12px 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #bbb;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  font-family: 'Gowun Dodum', sans-serif;
}

.common-dropdown-content {
  background-color: #f5f0e6;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s ease, padding 0.3s ease, opacity 0.3s ease, border 0.3s ease;
  padding: 0 16px;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}

.gift-info-content {
  margin-bottom: 16px;
}

.owner-info {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
  color: inherit;
}

.common-dropdown-wrapper.groom .owner-info {
  color: #0b0b0b;
}

.common-dropdown-wrapper.bride .owner-info {
  color: #0b0b0b;
}

.account-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.account-info button {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Gowun Dodum', sans-serif;
}

.account-info button:hover {
  background-color: #f3f3f3;
}

.arrow {
  font-size: 16px;
}

.toast-message {
  font-size: 12px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border: 1px solid #4caf50;
  color: #2e7d32;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 999;
  font-weight: 500;
  text-align: center;
}

.common-dropdown-wrapper.open .common-dropdown-content {
  padding: 0;
  max-height: 1000px;
  /*padding: 16px;*/
  opacity: 1;
  border: 1px solid #bbb;
  border-top: none;
  border-radius: 0 0 12px 12px;
}

.common-dropdown-wrapper.groom .common-dropdown-label {
  color: #0b0b0b;
}

.common-dropdown-wrapper.bride .common-dropdown-label {
  color: #0b0b0b;
}

.account-number {
  flex-grow: 1;
  margin-right: 12px;
  word-break: break-all;
}

.account-card {
  padding: 16px;
  border-bottom: 1px solid #bbb;;
}

.account-card:last-of-type {
  border-bottom: none;
}

.common-dropdown-wrapper:not(.open) .common-dropdown-label {
  border-radius: 8px;
}

.common-dropdown-wrapper.open .common-dropdown-label {
  border-radius: 8px 8px 0 0;
}

.copy-icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
}
