.container {
  display: flex;
  flex-direction: column;  /* 텍스트와 지도를 수직 정렬 */
  justify-content: center;
  align-items: center;
  height: 100vh;  /* 전체 화면 중앙 정렬 */
  width: 100vw;   /* 전체 화면 가득 차게 */
}

.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Gowun Dodum', sans-serif;
}

.title > ul {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  padding: 0 0 3px;
  list-style: none;
  font-family: 'Gowun Dodum', sans-serif;
}

.content {
  font-size: 13px;
  text-align: center;
  margin: 0;
  list-style: none;
  font-family: 'Gowun Dodum', sans-serif;
}


.content > ul {
  font-size: 13px;
  text-align: center;
  margin: 0;
  padding: 0 0 5px;
  list-style: none;
  font-family: 'Gowun Dodum', sans-serif;
}
