@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');

.photo-main .photo {
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
}
