.transfer-container {
  padding: 20px;
  text-align: left;
  max-width: 400px;
  margin: 0 auto;
  position: relative; /* 토스트 메시지 위치 참조점 */
}

.account-section {
  margin-bottom: 30px;
}

.account-title {
  padding-top: 20px;
  position: relative;
  text-align: center;
  font-size: 64px;
  color: #9d2428;
  font-family: 'Pinyon Script', serif;
}

.account-notice {
  position: relative;
  font-size: 14px;
  font-family: 'Noto Sans KR', serif;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-bottom: 30px;
}

.duck-container {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.duck-image {
  width: 100%; /* 120px에서 250px로 증가 */
  height: auto;
  display: inline-block;
}
